<div class="footer">
    <div class="container">
        <div class="row" style="display: flex">
            <div class="col-md-3 col-sm-6">
                <!-- Footer Widget -->
                <div class="footer-widget" style="position: relative ">
                    <!-- Logo Icon -->
                    <!-- Heading -->
                    <h2><a href="#"><i class="fa fa-eye-slash logo-icon br-red"></i> FlatMania</a></h2>
                    <!-- Paragraph -->
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form believable.</p>
                    <!-- Social Media -->
                    <div class="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- Footer Widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h5><i class="fa fa-plus br-red"></i> Navigation Menu</h5>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <!-- Menu Icons link -->
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-home br-red"></i> Home</a></li>
                                <li><a href="#"><i class="fa fa-book br-yellow"></i> Careers</a></li>
                                <li><a href="#"><i class="fa fa-phone br-green"></i> Contact Us</a></li>
                                <li><a href="#"><i class="fa fa-gear br-lblue"></i> Service</a></li>
                                <li><a href="#"><i class="fa fa-comment br-purple"></i> Testimonial</a></li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <!-- Menu Icons link -->
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-check br-green"></i> Features</a></li>
                                <li><a href="#"><i class="fa fa-search br-pink"></i> Coming Soon</a></li>
                                <li><a href="#"><i class="fa fa-user br-orange"></i> About Us</a></li>
                                <li><a href="#"><i class="fa fa-sign-in br-red"></i> Register</a></li>
                                <li><a href="#"><i class="fa fa-file br-blue"></i> Recent News</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm"></div>

            <div class="col-md-3 col-sm-6">
                <!-- Footer Widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h5><i class="fa fa-map-marker br-yellow"></i> Contact Us</h5>
                    <address>
                        <i class="fa fa-home br-green"></i> #98/3 Dark Politic Road, N B C <br/>
                        &nbsp; &nbsp; &nbsp; &nbsp; Venue, 6th Main, USD Park,  <br/>
                        &nbsp; &nbsp; &nbsp; &nbsp; Bangalore - 234543 <br/>
                        <span><i class="fa fa-phone br-orange"></i> +91 123-456-2345</span>
                        <span><i class="fa fa-envelope-o br-blue"></i> <a href="#">abc@example.com</a></span>
                    </address>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- Footer Widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h5><i class="fa fa-location-arrow br-lblue"></i> Location</h5>
                    <!-- Google Map -->
                    <div class="map">
                        <!-- Image -->
                        <img src="${resource(dir: 'bootstrap-theme', file: 'img/map.png')}" class="img-responsive"
                             alt=""/>
                        <!-- Map Marker -->
                        <i class="fa fa-map-marker marker india lblue"></i>
                        <i class="fa fa-map-marker marker usa orange"></i>
                        <i class="fa fa-map-marker marker africa green"></i>
                    </div>
                    <span class="location-name">
                        <i class="fa fa-map-marker br-lblue"></i> India &nbsp;&nbsp;
                        <i class="fa fa-map-marker br-orange"></i> USA &nbsp;&nbsp;
                        <i class="fa fa-map-marker br-green"></i> Africa
                    </span>
                </div>
            </div>
        </div>
        <!-- Footer Copyright -->
        <div class="footer-copyright">
            <p>&copy; Copyright 2014 <a href="#">ZoomDeals</a></p>
        </div>
    </div>
</div>
