<div id="showBuyers" class="container-fluid" style="display:none">

    <li style="display: inline-table">
        <div class="blog-sidebar">

            <div class="side-widget br-yellow" id="deal_{{id}}" style="width: 170px;float: left;">
                <h4>Buyer Id is {{buyerId}}</h4>

                <div class="widget-content">
                    <img src="${resource(dir: 'bootstrap-theme', file: 'img/portfolio/2.jpg')}" id={{id}}
                         style="height: 100px" alt="">
                    <p>url is{{buyerListURL}}</p>
                    <p>Id of Post is {{itemId}}</p>

                </div>
                <a href="javascript:void(0)" onclick="getMerchantDealsJSON('{{buyerListURL}}')" class="btn btn-black">Back</a>
            </div>
        </div>

    </li>
    %{--<a href="javascript:void(0)" onclick="getDealsJSON('{{buyerListURL}}')" class="btn btn-black">Back</a>--}%
</div>

