<!DOCTYPE html>
<html>
<head>
    <!-- Title here -->
    <title>ZoomDeals</title>
    <meta name="layout" content="public">
    <!-- Description, Keywords and Author -->
</head>

<body>

<!-- Header End -->

<!-- Slider Start -->

<div class="container">
<!--
				#################################
					- THEMEPUNCH BANNER -
				#################################
				-->
<div class="tp-banner-container">
<div class="tp-banner">
<ul>
<!-- SLIDE  -->
<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
    <!-- MAIN IMAGE -->
    <img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/slide1.jpg')}" alt="darkblurbg" data-bgfit="cover"
         data-bgposition="left top" data-bgrepeat="no-repeat">
    <!-- LAYERS -->
    <!-- LAYERS NR. 1 // -->
    <div class="tp-caption lfl largegreenbg br-red"
         data-x="50"
         data-y="140"
         data-speed="1500"
         data-start="1200"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">Red Perspective
    </div>
    <!-- LAYERS NR. 2 -->
    <div class="tp-caption skewfromleft medium_text paragraph"
         data-x="50"
         data-y="240"
         data-speed="800"
         data-start="1800"
         data-easing="Power4.easeOut"
         data-endspeed="400"
         data-endeasing="Power4.easeOut"
         data-captionhidden="off">At vero eos et accusamus et iusto<br/>odio dignissimos ducimus qui blanditiis<br/>praesentium voluptatum deleniti atque corrupti.
    </div>
    <!-- LAYERS NR. 3 // Slide Button -->
    <div class="tp-caption sfb"
         data-x="50"
         data-y="350"
         data-speed="1500"
         data-start="2600"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off"><a href="#" class="btn btn-info btn-lg">Know More <i class="fa fa-angle-right"></i>
    </a>
    </div>
    <!-- LAYERS NR. 1 // Logo Image -->
    <div class="tp-caption skewfromright"
         data-x="600"
         data-y="bottom"
         data-speed="800"
         data-start="3600"
         data-easing="Power4.easeOut"
         data-endspeed="400"
         data-endeasing="Power4.easeOut"
         data-captionhidden="off"><img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/s21.png')}"
                                       class="img-responsive" alt=""/>
    </div>
</li>
<!-- SLIDE  -->
<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
    <!-- MAIN IMAGE -->
    <img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/slide2.jpg')}" alt="slidebg1" data-bgfit="cover"
         data-bgposition="left top" data-bgrepeat="no-repeat">
    <!-- LAYERS -->
    <!-- LAYERS NR. 1 // Logo Image -->
    <div class="tp-caption lfl"
         data-x="130"
         data-y="center"
         data-speed="1500"
         data-start="1200"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off"><img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/logo.png')}"
                                       class="img-responsive" alt=""/>
    </div>
    <!-- LAYERS NR. 2 -->
    <div class="tp-caption lfr thinheadline_dark"
         data-x="500"
         data-y="120"
         data-speed="1500"
         data-start="2000"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">Welcome To
    </div>
    <!-- LAYERS NR. 2.1 -->
    <div class="tp-caption lfr very_large_text"
         data-x="500"
         data-y="150"
         data-speed="1500"
         data-start="2300"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">FlatMania
    </div>
    <!-- LAYERS NR. 3 -->
    <div class="tp-caption lfr medium_text paragraph"
         data-x="500"
         data-y="220"
         data-speed="1500"
         data-start="3000"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">The Boxes Style Theme
    </div>
    <!-- LAYERS NR. 4 // Slide Button -->
    <div class="tp-caption lfr medium_text paragraph"
         data-x="500"
         data-y="250"
         data-speed="1500"
         data-start="3400"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">You can customize the CSS <br/>of your webpage.
    </div>
    <!-- LAYERS NR. 4.1 // Slide Button -->
    <div class="tp-caption sfb"
         data-x="500"
         data-y="325"
         data-speed="1500"
         data-start="4200"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off"><a href="#" class="btn btn-info btn-lg">Download Now <i class="fa fa-angle-right"></i>
    </a>
    </div>
</li>
<!-- SLIDE  -->
<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
    <!-- MAIN IMAGE -->
    <img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/slide3.jpg')}" alt="slidebg1" data-bgfit="cover"
         data-bgposition="left top" data-bgrepeat="no-repeat">
    <!-- LAYERS NR. 1 -->
    <div class="tp-caption lfl"
         data-x="100"
         data-y="130"
         data-speed="800"
         data-start="1500"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off"><img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/s31.png')}"
                                       class="img-responsive" alt=""/>
    </div>
    <!-- LAYERS NR. 2 -->
    <div class="tp-caption lfl"
         data-x="0"
         data-y="252"
         data-speed="800"
         data-start="2100"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off"><img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/s32.png')}"
                                       class="img-responsive" alt=""/>
    </div>
    <!-- LAYERS NR. 3 -->
    <div class="tp-caption lfl"
         data-x="350"
         data-y="290"
         data-speed="800"
         data-start="2700"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off"><img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/s33.png')}"
                                       class="img-responsive" alt=""/>
    </div>
    <!-- LAYERS NR. 4 -->
    <div class="tp-caption lfl"
         data-x="250"
         data-y="309"
         data-speed="800"
         data-start="3300"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off"><img src="${resource(dir: 'bootstrap-theme', file: 'img/slider/s34.png')}"
                                       class="img-responsive" alt=""/>
    </div>
    <!-- LAYERS NR. 5 // -->
    <div class="tp-caption lfr largegreenbg br-orange"
         data-x="right"
         data-hoffset="-10"
         data-y="140"
         data-speed="1500"
         data-start="4000"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">Full Responsive
    </div>
    <!-- LAYERS NR. 6 // -->
    <div class="tp-caption lfr modern_big_redbg br-green"
         data-x="right"
         data-hoffset="-10"
         data-y="220"
         data-speed="1500"
         data-start="4300"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">Desktop
    </div>
    <!-- LAYERS NR. 7 // -->
    <div class="tp-caption lfr modern_big_redbg br-yellow"
         data-x="right"
         data-hoffset="-10"
         data-y="270"
         data-speed="1500"
         data-start="4600"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">Laptop & Tablet
    </div>
    <!-- LAYERS NR. 8 // -->
    <div class="tp-caption lfr modern_big_redbg br-blue"
         data-x="right"
         data-hoffset="-10"
         data-y="320"
         data-speed="1500"
         data-start="4900"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">Smartphone & i-pad
    </div>
    <!-- LAYERS NR. 9 // -->
    <div class="tp-caption lfr modern_big_redbg br-purple"
         data-x="right"
         data-hoffset="-10"
         data-y="370"
         data-speed="1500"
         data-start="5200"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Linear.easeNone"
         data-captionhidden="off">Mobile Phone
    </div>
</li>
</ul>
</div>
</div>
</div>

<!-- Slider End -->

<!-- Box Wrapper -->
<div class="box-wrapper">
<div class="container">
<!-- Box First Row -->
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 1 ] -->
                <div class="box box-md br-green animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">GO</span>
                    </div>
                    <!-- Box Link -->
                    <a href="aboutus.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-user"></i>
                            <!-- Box Title -->
                            <span class="box-title">About Us</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 2 ] -->
                <div class="box box-md br-yellow animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">GO</span>
                    </div>
                    <!-- Box Link -->
                    <a href="careers.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-book"></i>
                            <!-- Box Title -->
                            <span class="box-title">Careers</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 3 ] -->
        <div class="box box-lg br-red animated">
            <div class="box-content box-service box-default">
                <!-- Heading -->
                <h4><i class="fa fa-trophy"></i> Develops Serve</h4>
                <!-- Paragraph -->
                <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                <!-- Box Service List -->
                <ul class="list-unstyled">
                    <li><i class="fa fa-check-square-o"></i> Php Project</li>
                    <li><i class="fa fa-check-square-o"></i> Network Maintenance</li>
                    <li><i class="fa fa-check-square-o"></i> HTML5 Websites</li>
                    <li><i class="fa fa-check-square-o"></i> CSS3 Version Support</li>
                    <li><i class="fa fa-check-square-o"></i> JQuery Technology</li>
                </ul>
                <!-- View Button -->
                <div class="view-button">
                    <a href="service.html" class="btn btn-info">View More <i class="fa fa-angle-right"></i></a>
                </div>

                <div class="view-button">
                    <a href="#" class="btn btn-default">Try Now <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 4 ] -->
        <div class="box box-md pull-up-sm animated">
            <div class="box-content box-gallery padd-zero">
                <div class="img-details box-hover-black">
                    <!-- Heading -->
                    <h3>Old Fashion Car With Latest Engine</h3>
                    <!-- Paragraph -->
                    <p>On the other hand, we denounce with righteous in our power of choice isded and foresee the pain and trouble that are bound to ensue.</p>
                    <!-- View Next Button -->
                    <div class="view-button">
                        <a href="portfolio.html" class="btn btn-danger">View More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- Image -->
                <img src="${resource(dir: 'bootstrap-theme', file: 'img/nav1.jpg')}"
                     class="img-responsive box-gallery-img" alt=""/>
            </div>
        </div>
    </div>
</div>
<!-- Box Second Row -->
<div class="row">
    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 5 ] -->
        <div class="box box-md br-black pull-up animated">
            <div class="pics" id="box-slider-one">
                <!-- Images -->
                <img src="${resource(dir: 'bootstrap-theme', file: 'img/w1.jpg')}" class="img-responsive" alt=""/>
                <img src="${resource(dir: 'bootstrap-theme', file: 'img/w2.jpg')}" class="img-responsive" alt=""/>
                <img src="${resource(dir: 'bootstrap-theme', file: 'img/w3.jpg')}" class="img-responsive" alt=""/>
            </div>
        </div>
    </div>
    <!-- Offset for column gap -->
    <div class="col-md-4 col-sm-6 col-md-offset-4">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 6 ] -->
                <div class="box box-md br-pink pull-up animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">GO</span>
                    </div>
                    <!-- Box Link -->
                    <a href="contact.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-phone"></i>
                            <!-- Box Title -->
                            <span class="box-title">Contact Us</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 7 ] -->
                <div class="box box-md br-orange pull-up animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">GO</span>
                    </div>
                    <!-- Box Link -->
                    <a href="service.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-gear"></i>
                            <!-- Box Title -->
                            <span class="box-title">Services</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Box Third Row -->
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 8 ] -->
                <div class="box box-md br-green animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">GO</span>
                    </div>
                    <!-- Box Link -->
                    <a href="testimonial.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-comments"></i>
                            <!-- Box Title -->
                            <span class="box-title">Testimonial</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 9 ] -->
                <div class="box box-md animated">
                    <div class="box-content slide-up slide-down padd-zero box-team">
                        <!-- Image -->
                        <img src="${resource(dir: 'bootstrap-theme', file: 'img/user.jpg')}"
                             class="img-responsive box-team-img" alt=""/>
                        <!-- Team Details -->
                        <div class="box-team-details movetoup box-hover-black">
                            <!-- Heading -->
                            <h4>Merry Watson</h4>
                            <span>PHP Developer</span>
                            <!-- Social Media -->
                            <div class="social">
                                <a href="#" class="social-tooltip" title="" data-placement="top"
                                   data-original-title="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-tooltip" title="" data-placement="top"
                                   data-original-title="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-tooltip" title="" data-placement="top"
                                   data-original-title="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="social-tooltip" title="" data-placement="top"
                                   data-original-title="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-6">
        <!-- Box Outer Layer [ Box 10 ] -->
        <div class="box box-md br-lblue animated">
            <!-- Box CTA Block -->
            <div class="box-content box-cta">
                <!-- Flat Icon -->
                <img src="${resource(dir: 'bootstrap-theme', file: 'img/flat-icon/fi1.png')}" class="img-responsive"
                     alt=""/>
                <!-- Box CTA Info -->
                <div class="box-cta-info">
                    <h4>Quick Service On the Note</h4>

                    <p class="col-disable">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    <!-- View Next Button -->
                    <div class="view-button">
                        <a href="#" class="btn btn-danger">Try It Now <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- Box Fourth Row -->
<div class="row">
    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 11 ] -->
        <div class="box box-lg br-orange animated">
            <div class="box-content box-service-counter box-default">
                <!-- Heading -->
                <h4><i class="fa fa-gears"></i> Services</h4>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <!-- Service Counter Item -->
                        <div class="service-item">
                            <!-- Counter Number -->
                            <span class="s-counter" data-from="0" data-to="195" data-speed="2500"
                                  data-refresh-interval="100"></span>
                            <!-- Heading -->
                            <h3>Develops</h3>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <!-- Service Counter Item -->
                        <div class="service-item">
                            <!-- Counter Number -->
                            <span class="s-counter" data-from="0" data-to="175" data-speed="2500"
                                  data-refresh-interval="100"></span>
                            <!-- Heading -->
                            <h3>Network</h3>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <!-- Service Counter Item -->
                        <div class="service-item">
                            <!-- Counter Number -->
                            <span class="s-counter" data-from="0" data-to="180" data-speed="2500"
                                  data-refresh-interval="100"></span>
                            <!-- Heading -->
                            <h3>Design</h3>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <!-- Service Counter Item -->
                        <div class="service-item">
                            <!-- Counter Number -->
                            <span class="s-counter" data-from="0" data-to="190" data-speed="2500"
                                  data-refresh-interval="100"></span>
                            <!-- Heading -->
                            <h3>Coding</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 14 ] -->
        <div class="box box-md br-red animated">
            <div class="box-content box-feature box-default">
                <!-- Heading -->
                <h4><i class="fa fa-rocket"></i> Full Responsive</h4>
                <!-- Paragraph -->
                <p>I must explain to you how all this mistaken idea born and I will give you a teachings of the great explorer of the truth expound the actual teachings .</p>
                <!-- View Next Button -->
                <div class="view-button">
                    <a href="#" class="btn btn-info">Buy Now <i class="fa fa-angle-right"></i></a>&nbsp;
                    <a href="#" class="btn btn-default">Download <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 13 ] -->
                <div class="box box-md br-yellow animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">GO</span>
                    </div>
                    <!-- Box Link -->
                    <a href="pricing.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-th-list"></i>
                            <!-- Box Title -->
                            <span class="box-title">Pricing</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 12 ] -->
                <div class="box box-md animated">
                    <div class="box-content slide-up box-gallery padd-zero">
                        <!-- Image -->
                        <img src="${resource(dir: 'bootstrap-theme', file: 'img/c1.jpg')}"
                             class="img-responsive box-gallery-img" alt=""/>
                        <!-- Image Gallery Caption -->
                        <div class="image-gallery-caption movetoup box-hover-black">
                            <!-- Image Title / Heading -->
                            <h4>FORD MUSTANG</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Box Fifth Row -->
<div class="row">
    <div class="col-md-4 col-sm-6 col-md-offset-4">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 16 ] -->
                <div class="box box-md pull-up animated">
                    <div class="box-content slide-down box-gallery padd-zero">
                        <!-- Image -->
                        <img src="${resource(dir: 'bootstrap-theme', file: 'img/c2.jpg')}"
                             class="img-responsive box-gallery-img" alt=""/>
                        <!-- Image Gallery Caption -->
                        <div class="image-gallery-caption movetodown box-hover-black">
                            <!-- Image Title / Heading -->
                            <h4>MWE MERCIDES</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Box Outer Layer [ Box 17 ] -->
                <div class="box box-md br-purple pull-up animated">
                    <!-- Box Hover Effect -->
                    <div class="box-hover box-hover-black">
                        <!-- Hover Icon -->
                        <span class="hover-icon">GO</span>
                    </div>
                    <!-- Box Link -->
                    <a href="gallery.html">
                        <!-- Box Link Content -->
                        <div class="box-content navigation">
                            <!-- Box Icon -->
                            <i class="fa fa-camera"></i>
                            <!-- Box Title -->
                            <span class="box-title">Gallery</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 15 ] -->
        <div class="box box-md br-blue pull-up animated">
            <div class="box-content box-login">
                <!-- Heading -->
                <h4><i class="fa fa-sign-in"></i> User Login</h4>
                <!-- Sign in Form Start -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Login</button>&nbsp;
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Box Sixth Row -->
<div class="row">
    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 18 ] -->
        <div class="box box-lg br-lblue animated">
            <div class="box-content box-chart box-default">
                <!-- Heading -->
                <h4><i class="fa fa-signal"></i> Report 2014</h4>
                <!-- Paragraph -->
                <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                <!-- Plot Chart -->
                <div class="plot-chart"></div>
                <!-- View Next Button -->
                <div class="view-button">
                    <a href="feature.html" class="btn btn-danger">See More <i class="fa fa-angle-right"></i></a>
                </div>

                <div class="view-button">
                    <a href="feature.html" class="btn btn-default">View Chart <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 19 ] -->
        <div class="box box-md br-pink animated">
            <div class="box-content padd-zero box-testimonial">
                <div id="carousel-example-generic-testimonial" class="carousel testimonial slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="${resource(dir: 'bootstrap-theme', file: 'img/transparent-md.png')}"
                                 class="img-responsive item-back" alt=""/>

                            <div class="carousel-caption">
                                <!-- Image -->
                                <!-- Heading -->
                                <h3><img src="${resource(dir: 'bootstrap-theme', file: 'img/user.jpg')}"
                                         class="img-responsive" alt=""/>Merry Watson</h3>
                                <blockquote>
                                    <p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
                                </blockquote>
                            </div>
                        </div>

                        <div class="item">
                            <img src="${resource(dir: 'bootstrap-theme', file: 'img/transparent-md.png')}"
                                 class="img-responsive item-back" alt=""/>

                            <div class="carousel-caption">
                                <!-- Image -->
                                <!-- Heading -->
                                <h3><img src="${resource(dir: 'bootstrap-theme', file: 'img/user.jpg')}"
                                         class="img-responsive" alt=""/>Jonny Walker</h3>
                                <blockquote>
                                    <p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
                                </blockquote>
                            </div>
                        </div>

                        <div class="item">
                            <img src="${resource(dir: 'bootstrap-theme', file: 'img/transparent-md.png')}"
                                 class="img-responsive item-back" alt=""/>

                            <div class="carousel-caption">
                                <!-- Image -->
                                <!-- Heading -->
                                <h3><img src="${resource(dir: 'bootstrap-theme', file: 'img/user.jpg')}"
                                         class="img-responsive" alt=""/>Den Perkily</h3>
                                <blockquote>
                                    <p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left c-control" href="#carousel-example-generic-testimonial" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right c-control" href="#carousel-example-generic-testimonial" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 20 ] -->
        <div class="box box-lg animated">
            <div class="box-content slide-up box-gallery padd-zero">
                <!-- Image -->
                <img src="${resource(dir: 'bootstrap-theme', file: 'img/c3.jpg')}"
                     class="img-responsive box-gallery-img" alt=""/>
                <!-- Image Gallery Caption -->
                <div class="image-gallery-caption movetoup box-hover-black">
                    <!-- Image Title / Heading -->
                    <h4>Golden Kodak</h4>

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas ctio.</p>
                    <a href="portfolio.html" class="btn btn-danger">View more <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Box Seventh Row -->
<div class="row">
    <div class="col-md-4 col-sm-6 col-md-offset-4">
        <!-- Box Outer Layer [ Box 21 ] -->
        <div class="box box-md br-green pull-up pull-up-sm animated">
            <div class="box-content box-subscribe box-default">
                <!-- Heading -->
                <h4><i class="fa fa-bullhorn"></i> Join Us Today</h4>
                <!-- Paragraph -->
                <p>Similitude stunt in culpa-er quietus dolorous.</p>
                <!-- Subscribe Form -->
                <form>
                    <div class="input-group">
                        <!-- form input -->
                        <input type="text" class="form-control" placeholder="Type your email">
                        <span class="input-group-btn">
                            <!-- join button -->
                            <button class="btn btn-danger" type="button"><i class="fa fa-envelope"></i></button>
                        </span>
                    </div>
                </form>
                <!-- Social Media -->
                <div class="social">
                    <a href="#" class="social-tooltip" data-placement="right" data-original-title="facebook"><i
                            class="fa fa-facebook"></i></a>
                    <a href="#" class="social-tooltip" data-placement="right" data-original-title="twitter"><i
                            class="fa fa-twitter"></i></a>
                    <a href="#" class="social-tooltip" data-placement="right" data-original-title="google-plus"><i
                            class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-tooltip" data-placement="right" data-original-title="linkedin"><i
                            class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Box Eight Row -->
<div class="row">
    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 22 ] -->
        <div class="box box-md br-purple animated">
            <div class="box-content box-pricing box-default">
                <!-- Heading -->
                <h4><i class="fa fa-tags"></i> Basic Plan <span class="price">$99/m</span></h4>
                <!-- Plan Details -->
                <div class="pricing-details">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i> 500 bandwidth</li>
                                <li><i class="fa fa-check"></i> 10 database</li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i> 200GB Storage</li>
                                <li><i class="fa fa-check"></i> FTP software</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- View Button -->
                <div class="view-button">
                    <a href="#" class="btn btn-danger">Buy Now <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 22 ] -->
        <div class="box box-md br-orange animated">
            <div class="box-content box-pricing box-default">
                <!-- Heading -->
                <h4><i class="fa fa-tags"></i> Premium Plan <span class="price">$199/m</span></h4>
                <!-- Plan Details -->
                <div class="pricing-details">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i> Full bandwidth</li>
                                <li><i class="fa fa-check"></i> 100 database</li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i> 1TB Storage</li>
                                <li><i class="fa fa-check"></i> FTP software</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- View Button -->
                <div class="view-button">
                    <a href="#" class="btn btn-black">Buy Now <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 23 ] -->
        <div class="box box-md br-lblue animated">
            <div class="box-content box-quote">
                <!-- Quotes -->
                <span class="box-quote-icon">&#8220;</span>
                <!-- Paragraph -->
                <p>Sed ut persp iciatis undeuiew omnis iste natus error sitertw volup tatem accus antium ouew dolor emque.</p>
                <span class="meta pull-right">- John Doe</span>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- Footer Start -->

<!-- Footer End -->


<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>

</body>
</html>