
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* cross-browser style normalization */
/*
    ---- CSS3 SASS MIXINS ----
    https://github.com/madr/css3-sass-mixins

    Should IE filters be used or not?
    PROS: gradients, drop shadows etc will be handled by css.
    CONS: will harm the site performance badly, especially on sites with heavy rendering and scripting. 

    rounded borders:
        @include border-radius(values) 
    box shadow:
        @include box-shadow(x, y, offset, hex, [use ie filters: 1 or 0])
    vertical linear gradient background:
        @include linear-gradient(from, to, [use ie filters: 0 or 1])
    rgba background:
        @include rgba(hex, alpha, [use ie filters: 0 or 1])
    rotate:
        @include rotate(degrees, [use ie filters: 0 or 1])
    transition:
        @include transition(values)
    image replacement:
        @include hidetext
*/
/* various css3 mixins */
@font-face {
  font-family: 'DesyrelRegular';
  src: url("../fonts/desyrel-webfont.eot");
  src: url("../fonts/desyrel-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/desyrel-webfont.woff") format("woff"), url("../fonts/desyrel-webfont.ttf") format("truetype"), url("../fonts/desyrel-webfont.svg#DesyrelRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* custom @font-faces go here */
html {
  overflow-y: scroll; }

a {
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  color: white;
  text-decoration: none; }
  a:hover {
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    -webkit-transition: all 250ms;
    transition: all 250ms; }

p {
  margin: 0 0 30px 0; }

h1 {
  background-color: transprent;
  border: 0;
  color: transparent;
  display: block;
  font: 0/0 a;
  text-shadow: none;
  margin: 0 0 40px; }

h1,
h2 {
  font: bold 22px/1.3 "futura-pt", sans-serif; }

nav > ul {
  margin: 0;
  padding: 0; }


ul.social {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  ul.social li {
    float: left;
    margin-right: 10px; }
    ul.social li a {
      background-color: transprent;
      border: 0;
      color: transparent;
      display: block;
      font: 0/0 a;
      text-shadow: none;
      height: 35px;
      opacity: 0.3;
      width: 35px; }
      ul.social li a:hover {
        opacity: 0.6; }
    ul.social li.facebook a {
      background: url("contactusImages/facebook.png"); }
    ul.social li.twitter a {
      background: url("contactusImages/twitter.png"); }
    ul.social li.google a {
      background: url("contactusImages/google.png"); }
    ul.social li.rdio a {
      background: url("contactusImges/rdio.png"); }
    ul.social li.dribbble a {
      background: url("contactusImages/dribbble.png"); }
    ul.social li.github a {
      background: url("contactusImages/github.png"); }

.success {
  color: #050;
  font-weight: bold; }

body {
  color: white;
  font: 14px/1.6 "facitweb", helvetica, arial, sans-serif; }

body > .container {
  position: relative;
  z-index: 200; }

footer {
  clear: both;
  height: 150px;
  position: relative; }
  footer small {
    color: black;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    float: left;
    font-size: 14px;
    line-height: 35px; }
  footer #social {
    float: right; }



#lightbox {
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 400; }
  #lightbox .overlay {
    background: url("../img/black75.png");
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%; }
  #lightbox .container {
    position: relative; }
  #lightbox .content {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: white;
    height: 500px;
    left: 0px;
    position: absolute;
    top: 180px;
    width: 940px; }
    #lightbox .content * {
      color: black; }
    #lightbox .content h2 {
      color: white;
      font-size: 30px;
      margin: 0;
      position: absolute;
      text-transform: uppercase;
      top: -40px; }
  #lightbox .navigation a {
    background-color: transprent;
    border: 0;
    color: transparent;
    display: block;
    font: 0/0 a;
    text-shadow: none;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: white no-repeat center center;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 400px; }
  #lightbox .navigation a.next {
    right: -80px; }
  #lightbox .navigation a.prev {
    left: -80px; }

#loading {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0px;
  padding-top: 400px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 4000; }
  #loading img {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.7);
    display: block;
    margin: 0 auto;
    padding: 20px; }


  body.reach-out #main {
    overflow: hidden;
    width:960px;}
    body.reach-out #main h1 {
      background: url("contactusImages/reach-out.png");
      height: 126px;
      width: 930px; 
      background-repeat: no-repeat;
      }
    body.reach-out #main .left {
      float: left;
      margin-top: -60px;
      width: 460px; }
      body.reach-out #main .left .circle {
        height: 460px;
        overflow: hidden;
        width: 460px;
        position: relative; }
        body.reach-out #main .left .circle img {
          -moz-border-radius: 230px;
          -webkit-border-radius: 230px;
          border-radius: 230px;
          -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          -o-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); }
        body.reach-out #main .left .circle .cycle, body.reach-out #main .left .circle .gmap {
          left: 0px;
          position: absolute;
          top: 0px; }
        body.reach-out #main .left .circle .gmap {
          display: none;
          z-index: 10; }
      body.reach-out #main .left .phone,
      body.reach-out #main .left .email,
      body.reach-out #main .left .circle,
      body.reach-out #main .left address {
        display: block;
        margin-bottom: 40px;
        text-align: center; }
      body.reach-out #main .left .phone {
        color: #336d2a;
        font: bold 26px/1.3 "futura-pt", sans-serif; }
      body.reach-out #main .left .email:hover,
      body.reach-out #main .left address a:hover {
        color: black; }
      body.reach-out #main .left .email,
      body.reach-out #main .left address a {
        color: #336d2a;
        display: block;
        font-style: normal;
        font-size: 18px; }
    body.reach-out #main .right {
      float: right;
      width: 440px; }
      body.reach-out #main .right h2 {
        font-size: 22px;
        text-transform: uppercase; }
      body.reach-out #main .right form {
        position: relative; }
        body.reach-out #main .right form label {
          display: block;
          font-weight: bold;
          margin-bottom: 15px;
          position: relative;
          text-transform: uppercase; }
          body.reach-out #main .right form label input,
          body.reach-out #main .right form label textarea {
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            border: 0;
            color: #999;
            display: block;
            font-family: facitweb, sans-serif;
            height: 20px;
            line-height: 20px;
            padding: 10px 30px 10px 20px;
            width: 389px; }
            body.reach-out #main .right form label input:focus,
            body.reach-out #main .right form label textarea:focus {
              color: #5c5c5c; }
          body.reach-out #main .right form label textarea {
            height: 150px;
            line-height: 1.2;
            position: relative; }
          body.reach-out #main .right form label.name input {
            background: white url("contactusImages/bust.png") no-repeat 410px center; }
          body.reach-out #main .right form label.email input {
            background: white url("contactusImages/envelope.png") no-repeat 412px center; }
          body.reach-out #main .right form label.phone input {
            background: white url("contactusImages/phone.png") no-repeat 412px center; }
          body.reach-out #main .right form label.message textarea {
            background: white url("contactusImages/pencil.png") no-repeat 412px 10px; }
          body.reach-out #main .right form label.error input {
            color: red; }

          body.reach-out #main .right form label.error .error-text {
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            background: black;
            bottom: 30px;
            color: white;
            display: block;
            font-size: 10px;
            font-weight: normal;
            padding: 5px;
            position: absolute;
            right: 10px;
            text-align: center;
            text-transform: none;
            width: 200px; }
            body.reach-out #main .right form label.error .error-text:after {
              bottom: 0px;
              content: url("../img/black-arrow-down.png");
              display: block;
              height: 6px;
              position: absolute;
              right: 4px;
              width: 11px; }
          body.reach-out #main .right form label .hint {
            color: #306c26;
            display: block;
            float: right;
            font-size: 13px;
            text-transform: none; }
          body.reach-out #main .right form label .error-text {
            display: none; }
        body.reach-out #main .right form input[type="submit"] {
          background-color: transprent;
          border: 0;
          color: transparent;
          display: block;
          font: 0/0 a;
          text-shadow: none;
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -moz-transition: all 250ms;
          -o-transition: all 250ms;
          -webkit-transition: all 250ms;
          transition: all 250ms;
          background: url("contactusImages/send-it.png");
          float: right;
          height: 125px;
          position: relative;
          right: 15px;
          top: -40px;
          width: 125px;
          z-index: 10; }
          body.reach-out #main .right form input[type="submit"]:hover {
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transition: all 250ms;
            -o-transition: all 250ms;
            -webkit-transition: all 250ms;
            transition: all 250ms; }
        body.reach-out #main .right form input.email2 {
          display: none; }


#container
{
    margin:0 auto;
}                 
.cycle
{
    width:100%;
}    
