       body {
            background:rgb(241,108,73);
             background:rgb(255,255,255);
        }
        
        .page-header {
	background: rgba(0, 0, 0, 0.85);
	top: 0px;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 3000;
}

.page-header home {
	border: 0;
	color: transparent;
	display: block;
	font: 0/0 a;
	text-shadow: none;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background: url("css/contactusImages/home.png");
	height: 44px;
	width: 44px;
	position: fixed;
	right: 15px;
	top: 15px;
}

        .horizontal-nav {
    background: #efefef;
    border-radius: 6px;
}
.horizontal-nav ul {
    background: #dd390d;
    float: left;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #0e7079;
}
.horizontal-nav ul li {
    float: left;
    border-left: 1px solid #0e7079;
}
.horizontal-nav ul li:first-child {
    border-left: 0 none;
}
.horizontal-nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    border-top: 1px solid rgba(255,255,255, 0.25);
    border-left: 1px solid rgba(255,255,255, 0.25);
}
.horizontal-nav ul li:first-child a {
    border-left: 0 none;
}
.horizontal-nav ul li a:hover {
    background: #12808a;
}
.horizontal-nav ul li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


div.comments
{
	
	margin:50px;
	padding:20px;
	width:80%;
}

div.social
{
	
	margin:40px;
	padding:20px;
	width:70%;
}

#PPMiniCart { position: relative;
z-index: 9000; }