
<footer class="footer">
			<div class="container">
				<div class="upper-foot">
					<div class="row">
						<div class="col-xs-6 col-sm-3">
							<h2>Contact detail</h2>
							<address>
								<i class="fa fa-map-marker"></i>1 Point Park Crescent<br>
								Docklands, Melbourne Australia<br>
								<i class="fa fa-phone"></i> Phone. 1300 HAGGELL<br>
								<i class="fa fa-fax"></i> Fax. (800) 456-7890<br>
								<i class="fa fa-envelope"></i> E-mail. <a href="mailto:#">haggell@alphasigma.com.au</a>
							</address>
						</div>
						<div class="col-xs-6 col-sm-3">
							<h2>Useful links</h2>
							<ul class="list-unstyled">
								<li><a href="#">Track Orders</a></li>
								<li><a href="#">FAQs</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Free Credit Report</a></li>
								<li><a href="#">Terms and Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Community Guidelines</a></li>
							</ul>
						</div>
						<div class="col-xs-6 col-sm-3">
							<h2>Tags</h2>
							<ul class="list-inline tagclouds">
								<li><a href="#">Image</a></li>
								<li><a href="#">Features</a></li>
								<li><a href="#">Gallery</a></li>
								<li><a href="#">Post Formats</a></li>
								<li><a href="#">Typography</a></li>
								<li><a href="#">WooCommerce</a></li>
								<li><a href="#">Shortcodes</a></li>
								<li><a href="#">Best Sellers</a></li>
								<li><a href="#">Slideshow</a></li>
							</ul>
						</div>
						<div class="col-xs-6 col-sm-3">
							<h2>Don’t miss out</h2>
							<p>Subscribe for the best deals!</p>
							<form class="form-inline form-newsletter" role="form">
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail2">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email here">
								</div>
								<button type="submit" class="btn"><i class="fa fa-caret-right"></i></button>
							</form>
						</div>
					</div>
				</div>
				<div class="below-foot">
					<div class="row">
						<div class="col-xs-6 copyrights">
							<p>Copyright © 2014 Haggell . Designed by <a href="http://www.alphasigma.com.au/">AlphaSigma</a><br>
							All rights reserved.</p>
						</div>
						<div class="col-xs-6 text-right">
							<ul class="list-inline social-list">
								<li><a data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a data-toggle="tooltip" data-placement="top" title="Google+" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a data-toggle="tooltip" data-placement="top" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a data-toggle="tooltip" data-placement="top" title="RSS" href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>