<div id="step-3" class="tab-pane fade active in br-green">

    <div class="form-group">
        <div class="col-sm-12">

            <label for="address" class="youaddress" data-icon="m">Address</label>
            <input id="address" name="address" style="height: 40px;width: 400px;" required="required" type="text"
                   placeholder="Enter Your Location"/>

        </div>
    </div>

    <div id="map_canvas" style="height:350px;width:100%;display:block">

    </div>

    <input type="hidden" name="lonid" id="lonid" value="0">
    <input type="hidden" name="latid" id="latid" value="0">

</div>
