@media (min-width: 1367px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 7, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 110.5%;
    }

    /* line 12, ../sass/theme-responsive.scss */
    .list-select .list-sort {
      border-right: 1px solid #333333;
      height: 41px;
    }
    /* line 16, ../sass/theme-responsive.scss */
    .list-select .formDropdown {
      width: 109.5%;
    }
}
}
@media (max-width: 1280px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 26, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 110.5%;
    }

    /* line 31, ../sass/theme-responsive.scss */
    .list-select .list-sort {
      border-right: 1px solid #333333;
      height: 41px;
    }
    /* line 35, ../sass/theme-responsive.scss */
    .list-select .formDropdown {
      width: 109.5%;
    }
}
}
@media (max-width: 1024px) {
  /* line 43, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .dropdown-menu .sub-menu > li > a {
    white-space: normal;
  }

  /* line 47, ../sass/theme-responsive.scss */
  .wp-ads li {
    padding: 10px 0 10px 10px;
  }
  /* line 48, ../sass/theme-responsive.scss */
  .wp-ads li .fa {
    font-size: 1.857em;
    margin-top: 5px;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 58, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111%;
    }

    /* line 62, ../sass/theme-responsive.scss */
    .featured-box-cart .formDropdown {
      width: 111.7%;
    }
}

  /* line 67, ../sass/theme-responsive.scss */
  .featured-box-cart .box-content {
    overflow-x: auto;
    padding-bottom: 30px;
  }

  /* line 71, ../sass/theme-responsive.scss */
  .featured-box-secondary.featured-box-cart .box-content {
    overflow-x: hidden;
    padding-bottom: 0;
  }
}
@media (max-width: 992px) {
  /* line 78, ../sass/theme-responsive.scss */
  .navbar-header {
    float: none;
  }

  /* line 82, ../sass/theme-responsive.scss */
  .navbar-default .navbar-toggle {
    display: block;
    border: none;
    border-radius: 0;
    margin: 36px 0 0;
    padding: 0;
  }
  /* line 88, ../sass/theme-responsive.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
    width: 20px;
  }
  /* line 92, ../sass/theme-responsive.scss */
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  /* line 94, ../sass/theme-responsive.scss */
  .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #1abc9c;
  }

  /* line 101, ../sass/theme-responsive.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 105, ../sass/theme-responsive.scss */
  .navbar-collapse.in {
    overflow-y: auto;
  }

  /* line 109, ../sass/theme-responsive.scss */
  .collapse.in {
    display: block !important;
  }

  /* line 113, ../sass/theme-responsive.scss */
  .navbar-act {
    position: absolute;
    right: 45px;
    top: 0;
  }

  /* line 119, ../sass/theme-responsive.scss */
  .navbar-main .navbar-nav.pull-right {
    float: none !important;
  }

  /* line 123, ../sass/theme-responsive.scss */
  .navbar-collapse {
    background-color: black;
    min-width: 250px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 85px;
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -moz-transition: -moz-transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
  }
  /* line 139, ../sass/theme-responsive.scss */
  .navbar-collapse .navbar-nav > li {
    float: none;
  }
  /* line 141, ../sass/theme-responsive.scss */
  .navbar-collapse .navbar-nav > li > a {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  /* line 147, ../sass/theme-responsive.scss */
  .navbar-collapse .navbar-nav > li > a.dropdown-toggle:before {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
    top: 11px;
    color: #7e7e7e;
    font-size: 1.5em;
    font-weight: 700;
  }
  /* line 157, ../sass/theme-responsive.scss */
  .navbar-collapse .navbar-nav > li > a.dropdown-toggle:hover:before, .navbar-collapse .navbar-nav > li > a.dropdown-toggle:focus:before {
    color: white;
  }
  /* line 164, ../sass/theme-responsive.scss */
  .navbar-collapse .dropdown-menu {
    background: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: none;
    display: block !important;
    float: none;
    padding: 10px 20px !important;
    position: static;
  }
  /* line 174, ../sass/theme-responsive.scss */
  .navbar-collapse .dropdown-submenu > .dropdown-menu {
    border-top: none;
    margin-top: 0;
  }

  /* line 180, ../sass/theme-responsive.scss */
  .collapse.in {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 188, ../sass/theme-responsive.scss */
  .navbar-main .navbar-nav .open > a:after {
    display: none;
  }
  /* line 191, ../sass/theme-responsive.scss */
  .navbar-main .navbar-nav .dropdown-menu {
    font-family: 'Raleway', sans-serif;
    font-size: .928em;
  }
  /* line 194, ../sass/theme-responsive.scss */
  .navbar-main .navbar-nav .dropdown-menu .dropdown-menu {
    font-size: 1em;
  }

  /* line 201, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .dropdown-menu {
    margin: 0;
  }
  /* line 204, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .mega-menu-content {
    padding: 0 20px;
  }
  /* line 206, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .mega-menu-content .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 210, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .mega-menu-content .menu-column {
    display: block;
    float: none;
    padding: 0;
    width: 100%;
  }
  /* line 215, ../sass/theme-responsive.scss */
  .navbar-nav > .megamenu .mega-menu-content .menu-column + .menu-column {
    border-left: none;
    display: block;
    margin-top: 20px;
  }

  /* line 224, ../sass/theme-responsive.scss */
  .dropdown-submenu > a:after {
    display: none;
  }

  /* line 230, ../sass/theme-responsive.scss */
  .navbar-main .navbar-collapse .navbar-nav > li > a:hover, .navbar-main .navbar-collapse .navbar-nav > li > a:focus {
    background-color: #1abc9c;
    color: white;
  }
  /* line 240, ../sass/theme-responsive.scss */
  .navbar-main .navbar-collapse .navbar-nav > .active > a,
  .navbar-main .navbar-collapse .navbar-nav > .active > a:hover,
  .navbar-main .navbar-collapse .navbar-nav > .active > a:focus,
  .navbar-main .navbar-collapse .navbar-nav > .open > a,
  .navbar-main .navbar-collapse .navbar-nav > .open > a:hover,
  .navbar-main .navbar-collapse .navbar-nav > .open > a:focus {
    color: white;
    background-color: #1abc9c;
  }
  /* line 244, ../sass/theme-responsive.scss */
  .navbar-main .navbar-collapse .navbar-nav > .active > a:before {
    color: white;
  }

  /* line 250, ../sass/theme-responsive.scss */
  .navbar-main-narrow .logo {
    margin: 26px 0;
  }
  /* line 254, ../sass/theme-responsive.scss */
  .navbar-main-narrow .navbar-act > li > a {
    padding-bottom: 34px;
    padding-top: 34px;
  }
  /* line 259, ../sass/theme-responsive.scss */
  .navbar-main-narrow .shopping-bag {
    top: 24px;
  }

  /* home 2 */
  /* line 265, ../sass/theme-responsive.scss */
  .wp-ads li {
    min-height: 80px;
    text-align: center;
  }
  /* line 268, ../sass/theme-responsive.scss */
  .wp-ads li .fa {
    display: block;
    float: none;
    margin-right: 0;
    margin-top: 5px;
  }

  /* parallax */
  /* line 277, ../sass/theme-responsive.scss */
  .pi-parallax .item .intro h2 {
    font-size: 2.714em;
  }

  /* shop */
  /* line 283, ../sass/theme-responsive.scss */
  .shop_table th, .shop_table td {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 980px) {
  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 294, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 110.5%;
    }

    /* line 297, ../sass/theme-responsive.scss */
    .featured-box-cart .formDropdown {
      width: 111.8%;
    }
}
}
@media (max-width: 768px) {
  /* line 305, ../sass/theme-responsive.scss */
  .main-demo .item {
    height: 400px;
  }

  /* line 308, ../sass/theme-responsive.scss */
  .item-caption h2 {
    font-size: 2.857em;
  }

  /* line 312, ../sass/theme-responsive.scss */
  .pi-parallax .item {
    height: 300px;
  }
  /* line 314, ../sass/theme-responsive.scss */
  .pi-parallax .item blockquote {
    font-size: 1.857em;
  }
}
@media (max-width: 640px) {
  /* line 322, ../sass/theme-responsive.scss */
  .navbar-nav {
    margin: 0;
  }

  /* line 329, ../sass/theme-responsive.scss */
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 334, ../sass/theme-responsive.scss */
  .nav-top.navbar-right {
    float: right;
  }

  /* line 338, ../sass/theme-responsive.scss */
  .navbar-right .dropdown-menu {
    left: auto;
    right: -1px;
  }

  /* line 343, ../sass/theme-responsive.scss */
  .navbar-act > li {
    float: left;
  }

  /* line 347, ../sass/theme-responsive.scss */
  .pi-parallax .item .intro h2 {
    font-size: 2.142em;
  }

  /* line 351, ../sass/theme-responsive.scss */
  .wp-ads li {
    display: block;
    width: 50%;
  }

  /* line 358, ../sass/theme-responsive.scss */
  .page-top .container,
  .page-top-md .container,
  .page-top-lg .container {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 365, ../sass/theme-responsive.scss */
  #top .text-note {
    display: none;
  }

  /* line 369, ../sass/theme-responsive.scss */
  .navbar-main-narrow .logo {
    float: left;
  }

  /* line 373, ../sass/theme-responsive.scss */
  .main-demo .item {
    height: 300px;
  }

  /* line 377, ../sass/theme-responsive.scss */
  .item-caption h2 {
    font-size: 2.142em;
    margin-bottom: 30px;
  }

  /* line 382, ../sass/theme-responsive.scss */
  .login-wrapper {
    width: 100%;
  }

  /* line 386, ../sass/theme-responsive.scss */
  .page-top h2, .page-top-md h2, .page-top-lg h2 {
    font-size: 2.857em;
  }

  /* ads */
  /* line 391, ../sass/theme-responsive.scss */
  div [class^="col-"] {
    float: none;
    width: 100%;
  }
  /* line 394, ../sass/theme-responsive.scss */
  div [class^="col-"] + [class^="col-"] {
    margin-top: 40px;
  }

  /* line 399, ../sass/theme-responsive.scss */
  .form-group [class^="col-"] + [class^="col-"] {
    margin-top: 0;
  }

  /* parallax */
  /* line 404, ../sass/theme-responsive.scss */
  .pi-parallax .item .intro h2 {
    font-size: 1.428em;
  }

  /* line 408, ../sass/theme-responsive.scss */
  .parallax-shop p {
    margin-bottom: 20px;
  }

  /* footer */
  /* line 413, ../sass/theme-responsive.scss */
  .footer [class^="col-xs-"] {
    float: none;
    width: 100%;
  }

  /* line 417, ../sass/theme-responsive.scss */
  .below-foot {
    text-align: center;
  }
  /* line 419, ../sass/theme-responsive.scss */
  .below-foot .text-right {
    text-align: center;
  }

  /* line 423, ../sass/theme-responsive.scss */
  .pro-tabs > li a {
    width: 120px;
  }

  /* shop */
  /* line 429, ../sass/theme-responsive.scss */
  .shop_table th, .shop_table td {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 433, ../sass/theme-responsive.scss */
  .shop_table td {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 441, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111.5%;
    }
}
}
@media (max-width: 360px) {
  /* line 449, ../sass/theme-responsive.scss */
  .login-wrapper .list-inline {
    display: block;
  }
  /* line 451, ../sass/theme-responsive.scss */
  .login-wrapper .list-inline li + li {
    margin-left: 0;
  }

  /* line 456, ../sass/theme-responsive.scss */
  .menu-shop .dropdown-menu {
    min-width: 300px;
  }

  /* line 460, ../sass/theme-responsive.scss */
  .btn {
    min-width: 0;
  }

  /* line 464, ../sass/theme-responsive.scss */
  .main-demo .item {
    height: 250px;
  }

  /* line 468, ../sass/theme-responsive.scss */
  .item-caption h2 {
    font-size: 1.428em;
    margin-bottom: 20px;
  }

  /* line 473, ../sass/theme-responsive.scss */
  .pro-tabs > li {
    display: block;
    margin: 0;
  }
  /* line 476, ../sass/theme-responsive.scss */
  .pro-tabs > li a {
    width: 100%;
  }

  /* line 483, ../sass/theme-responsive.scss */
  .toolbar p.pull-left,
  .toolbar .list-sort.pull-right {
    float: none !important;
  }

  /* Firefox select button fix */
  @-moz-document url-prefix() {
    /* line 490, ../sass/theme-responsive.scss */
    .formDropdown {
      width: 111.2%;
    }

    /* line 493, ../sass/theme-responsive.scss */
    .featured-box .formDropdown {
      width: 111%;
    }
}

  /* line 498, ../sass/theme-responsive.scss */
  .list-select .color {
    margin-left: 2px;
    margin-right: 2px;
    padding: 9px 9px 10px;
  }
}
@media (max-width: 320px) {
  /* line 506, ../sass/theme-responsive.scss */
  .list-select .color {
    margin-left: 1px;
    margin-right: 0;
    padding: 9px 5px 10px;
  }
}
