/* line 4, ../sass/theme-shop.scss */
.toolbar {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 50px;
}
/* line 7, ../sass/theme-shop.scss */
.toolbar p {
  line-height: 40px;
  margin: 0;
}

/* Filter By Price */
/* line 14, ../sass/theme-shop.scss */
.filter-blk h4 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
  margin: 0 0 30px;
}

/* line 19, ../sass/theme-shop.scss */
.padding-range {
  padding: 0 8px;
}

/* line 21, ../sass/theme-shop.scss */
#price-range {
  display: block;
  position: relative;
}
/* line 24, ../sass/theme-shop.scss */
#price-range input, #price-range label {
  color: #333333;
  float: left;
  font-family: Roboto Slab, serif;
  font-size: .928em;
}
/* line 30, ../sass/theme-shop.scss */
#price-range input {
  padding: 0;
  background: 0;
  border: 0;
  margin: 6px 0 0 4px;
  display: inline-block;
  width: 100px;
}
/* line 39, ../sass/theme-shop.scss */
#price-range label {
  margin: 6px 0 0 0;
}
/* line 42, ../sass/theme-shop.scss */
#price-range p {
  padding: 20px 0 0;
  overflow: hidden;
  width: 100%;
}
/* line 47, ../sass/theme-shop.scss */
#price-range .ui-slider {
  position: relative;
  text-align: left;
}
/* line 51, ../sass/theme-shop.scss */
#price-range .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 13px;
  height: 13px;
  margin: -4px 0 0 -8px;
  cursor: w-resize;
}
/* line 60, ../sass/theme-shop.scss */
#price-range .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 5px;
  display: block;
  border: 0;
  background-position: 0;
}
/* line 69, ../sass/theme-shop.scss */
#price-range .ui-widget-content {
  background-color: #ecedef;
  border-radius: 25px;
}
/* line 78, ../sass/theme-shop.scss */
#price-range .ui-state-default {
  background: #ccc;
  border-radius: 50%;
}
/* line 84, ../sass/theme-shop.scss */
#price-range .ui-slider.ui-state-disabled .ui-slider-handle,
#price-range .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
/* line 85, ../sass/theme-shop.scss */
#price-range .ui-slider-horizontal {
  height: 5px;
}
/* line 86, ../sass/theme-shop.scss */
#price-range .ui-slider-horizontal .ui-slider-range {
  background-color: #1abc9c;
  top: 0;
  height: 100%;
}
/* line 87, ../sass/theme-shop.scss */
#price-range .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
/* line 88, ../sass/theme-shop.scss */
#price-range .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 91, ../sass/theme-shop.scss */
#slider-range {
  margin: 0 0 16px 0;
}

/* line 93, ../sass/theme-shop.scss */
.list-cat {
  font-family: Roboto Slab, serif;
}
/* line 95, ../sass/theme-shop.scss */
.list-cat li {
  line-height: 2;
}

/* line 101, ../sass/theme-shop.scss */
.block .list-thumbs-pro h4 {
  font-weight: 400;
  text-transform: none;
}
/* line 105, ../sass/theme-shop.scss */
.block .list-thumbs-pro .product + .product {
  border-top: none;
  padding-top: 0;
}

/* line 111, ../sass/theme-shop.scss */
.list-sort {
  overflow: hidden;
}

/* bxslider */
/* line 116, ../sass/theme-shop.scss */
.product-preview {
  margin-bottom: 50px;
}

/* line 120, ../sass/theme-shop.scss */
.bx-wrapper {
  margin-bottom: 20px;
}

/* line 124, ../sass/theme-shop.scss */
.bx-viewport {
  height: 404px;
  width: 100%;
}

/* line 129, ../sass/theme-shop.scss */
#bx-pager {
  margin: 0 -10px;
  overflow: hidden;
  width: 100%;
}
/* line 133, ../sass/theme-shop.scss */
#bx-pager li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
}

/* summary */
/* line 143, ../sass/theme-shop.scss */
.summary h3, .summary .price {
  font-family: Roboto Slab, serif;
}
/* line 146, ../sass/theme-shop.scss */
.summary h3 {
  margin: 0 0 10px;
}
/* line 149, ../sass/theme-shop.scss */
.summary .price {
  font-size: 1.714em;
  margin-bottom: 30px;
}

/* Star Rating */
/* line 156, ../sass/theme-shop.scss */
.reviews-counter {
  margin-bottom: 5px;
}

/* line 159, ../sass/theme-shop.scss */
.rating {
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 25px;
  display: block;
}

/* line 167, ../sass/theme-shop.scss */
.star-rating {
  position: relative;
  width: inherit;
  display: block;
  padding: 0;
  margin: 0;
}

/* line 175, ../sass/theme-shop.scss */
.rating.five-stars .star-rating:after {
  width: 100%;
}

/* line 176, ../sass/theme-shop.scss */
.rating.four-stars .star-rating:after {
  width: 80%;
}

/* line 177, ../sass/theme-shop.scss */
.rating.three-stars .star-rating:after {
  width: 60%;
}

/* line 178, ../sass/theme-shop.scss */
.rating.two-stars .star-rating:after {
  width: 40%;
}

/* line 179, ../sass/theme-shop.scss */
.rating.one-stars .star-rating:after {
  width: 20%;
}

/* line 182, ../sass/theme-shop.scss */
.star-rating:after {
  content: "    ";
  font-family: "FontAwesome";
  color: black;
  display: block;
  position: absolute;
  z-index: 10;
  letter-spacing: -0.5px;
}

/* line 192, ../sass/theme-shop.scss */
.rating .star-bg:after {
  content: "    ";
  font-family: "FontAwesome";
  color: black;
  display: block;
  position: absolute;
  z-index: 9;
  padding: 0;
  margin: 0;
  letter-spacing: -0.5px;
}

/* list-select */
/* line 205, ../sass/theme-shop.scss */
.list-select li {
  float: left;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
/* line 209, ../sass/theme-shop.scss */
.list-select .formDropdown {
  border-color: #333333;
}
/* line 212, ../sass/theme-shop.scss */
.list-select .color {
  border: 1px solid #dddddd;
  margin-right: 5px;
  margin-left: 5px;
  padding: 9px 9px 10px;
}
/* line 217, ../sass/theme-shop.scss */
.list-select .color:hover {
  border-color: #333333;
}
/* line 220, ../sass/theme-shop.scss */
.list-select .color a {
  background-color: black;
  display: block;
  height: 20px;
  width: 20px;
}
/* line 226, ../sass/theme-shop.scss */
.list-select .color .color1 {
  background-color: #f64243;
}
/* line 229, ../sass/theme-shop.scss */
.list-select .color .color2 {
  background-color: #a57bcd;
}
/* line 232, ../sass/theme-shop.scss */
.list-select .color .color3 {
  background-color: #3598db;
}
/* line 235, ../sass/theme-shop.scss */
.list-select .color .color4 {
  background-color: #c2a772;
}

/* line 241, ../sass/theme-shop.scss */
.cart {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: 50px;
  padding: 30px 0;
  text-align: right;
}
/* line 247, ../sass/theme-shop.scss */
.cart a {
  margin-right: 6px;
}

/* line 253, ../sass/theme-shop.scss */
.quantity input {
  background: whitesmoke;
  border: none;
  float: left;
  height: 50px;
  text-align: center;
}
/* line 260, ../sass/theme-shop.scss */
.quantity .qty {
  width: 50px;
}
/* line 263, ../sass/theme-shop.scss */
.quantity .minus {
  margin-right: 1px;
}
/* line 266, ../sass/theme-shop.scss */
.quantity .plus {
  margin-left: 1px;
}

/* line 271, ../sass/theme-shop.scss */
.product-meta {
  font-size: .928em;
  margin-bottom: 50px;
}
/* line 275, ../sass/theme-shop.scss */
.product-meta a:after {
  content: ",";
}
/* line 278, ../sass/theme-shop.scss */
.product-meta a:last-child:after {
  content: "";
}

/* line 284, ../sass/theme-shop.scss */
.product-remove a {
  color: #dddddd;
}
/* line 286, ../sass/theme-shop.scss */
.product-remove a:hover, .product-remove a:focus {
  color: #1abc9c;
}

/* line 292, ../sass/theme-shop.scss */
.featured-boxes h3 {
  font-family: Roboto Slab, serif;
  font-size: 1em;
  margin: 0 0 30px;
  text-transform: uppercase;
}

/* line 300, ../sass/theme-shop.scss */
.shop_table .product-remove a {
  font-size: 1.3em;
}
/* line 303, ../sass/theme-shop.scss */
.shop_table th {
  background: #181818;
  border: 1px solid #181818;
  border-bottom: none;
  color: white;
  font-size: .928em;
  font-weight: 400;
  padding: 10px 30px;
}
/* line 312, ../sass/theme-shop.scss */
.shop_table td {
  border: 1px solid #dddddd;
  padding: 30px;
}
/* line 318, ../sass/theme-shop.scss */
.shop_table .product-name,
.shop_table .product-price,
.shop_table .product-subtotal {
  font-family: Roboto Slab, serif;
}
/* line 321, ../sass/theme-shop.scss */
.shop_table .product-thumbnail {
  border-right: none;
  padding-right: 0;
  width: 110px;
}
/* line 326, ../sass/theme-shop.scss */
.shop_table .product-name {
  border-left: none;
}
/* line 329, ../sass/theme-shop.scss */
.shop_table .product-remove {
  text-align: center;
  width: 30px;
}
/* line 333, ../sass/theme-shop.scss */
.shop_table .product-quantity {
  width: 150px;
}
/* line 336, ../sass/theme-shop.scss */
.shop_table td.product-quantity {
  text-align: center;
}
/* line 339, ../sass/theme-shop.scss */
.shop_table .quantity {
  display: inline-block;
  text-align: center;
  width: 88px;
}
/* line 344, ../sass/theme-shop.scss */
.shop_table td.product-subtotal {
  color: #1abc9c;
}

/* line 349, ../sass/theme-shop.scss */
.featured-box {
  margin-bottom: 50px;
}
/* line 351, ../sass/theme-shop.scss */
.featured-box h4 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

/* Firefox select button fix */
@-moz-document url-prefix() {
  /* line 358, ../sass/theme-shop.scss */
  .featured-box .formDropdown {
    width: 111.5%;
  }
}

/* line 363, ../sass/theme-shop.scss */
.featured-box-secondary {
  font-size: .928em;
}
/* line 365, ../sass/theme-shop.scss */
.featured-box-secondary .form-control {
  border-width: 1px;
}
/* line 368, ../sass/theme-shop.scss */
.featured-box-secondary input.form-control {
  height: 37px;
}
/* line 371, ../sass/theme-shop.scss */
.featured-box-secondary .formDropdown {
  height: 37px;
  margin-bottom: 0;
  padding-top: 7px;
}
/* line 376, ../sass/theme-shop.scss */
.featured-box-secondary p {
  margin-bottom: 15px;
}

/* line 381, ../sass/theme-shop.scss */
.cart-totals {
  margin-bottom: 15px;
}
/* line 383, ../sass/theme-shop.scss */
.cart-totals th {
  font-weight: 400;
}
/* line 386, ../sass/theme-shop.scss */
.cart-totals td {
  text-align: right;
}
/* line 389, ../sass/theme-shop.scss */
.cart-totals th, .cart-totals td {
  border-top: 1px solid #dddddd;
  padding: 14px 0;
  vertical-align: top;
}
/* line 394, ../sass/theme-shop.scss */
.cart-totals tr:first-child th, .cart-totals tr:first-child td {
  border-top: none;
}
/* line 397, ../sass/theme-shop.scss */
.cart-totals .cart-subtotal:first-child th, .cart-totals .cart-subtotal:first-child td {
  padding-top: 0;
}
/* line 400, ../sass/theme-shop.scss */
.cart-totals .total .amount {
  color: #1abc9c;
}
/* line 404, ../sass/theme-shop.scss */
.cart-totals .product-name,
.cart-totals .product-price {
  font-family: Roboto Slab, serif;
  font-size: 1.076em;
}

/* line 411, ../sass/theme-shop.scss */
.featured-box-cart .form-horizontal .control-label {
  text-align: left;
}

/* Firefox select button fix */
@-moz-document url-prefix() {
  /* line 418, ../sass/theme-shop.scss */
  .featured-box-cart .formDropdown {
    width: 111.9%;
  }
}
