

nav ul{margin:0; padding:0; list-style:none;}

/* ----------------------------------------------Top Navigation-------------------------------------*/

header nav{float:right; margin:21px 0 0 0; padding:20px 0 20px 20px;}
header nav ul, header nav li{margin:0; padding:0; list-style:none;}
header nav li{float:right; margin-right:30px;}
header nav li li{margin-right:0;}
header nav li span{display:block; margin:5px 0 0 0; padding:0; font-size:12px; font-weight:bold; font-family:Arial,Helvetica,sans-serif; text-transform:lowercase; color:#666666; background-color:#333333; font-weight:normal; line-height:normal;}
header nav li a:link, header nav li a:visited, header nav li a:hover{display:block; margin:0; padding:0; color:#FFFFFF; background-color:#333333; text-transform:uppercase;}
header nav ul ul li a:link, header nav ul ul li a:visited{border:none;}
header nav li a:hover, header nav li.active a{color:#FF9900; background-color:#333333;}
header nav li li a:link, header nav li li a:visited{width:150px; float:none; margin:0; padding:7px 10px; font-size:12px; font-weight:normal; color:#FFFFFF; background-color:#333333; border:none;}
header nav li li a:hover{color:#FF9900; background-color:#333333;}
header nav ul ul{z-index:9999; position:absolute; left:-999em; height:auto; width:170px; border-left:1px solid #666666; border-bottom:1px solid #666666;}
header nav ul ul a{width:140px;}
header nav li:hover ul{left:auto;}
header nav li:hover{position:static;}
header nav li.last{margin-right:0;}

/* ----------------------------------------------Column Navigation-------------------------------------*/

#container aside nav{display:block; width:300px; margin-bottom:30px;}
#container aside nav ul{margin:0; padding:0; list-style:none;}
#container aside nav li{margin:0 0 3px 0; padding:0;}
#container aside nav ul ul, #container aside nav ul ul ul, #container aside nav ul ul ul ul, #container aside nav ul ul ul ul ul{border-top:none; padding-top:0;}
#container aside nav a{display:block; margin:0; padding:5px 10px 5px 20px; color:#666666; background:url("../images/orange_file.gif") no-repeat 10px center #FFFFFF; text-decoration:none; border-bottom:1px dotted #666666;}
#container aside nav a:hover{color:#FF9900; background-color:#FFFFFF;}
#container aside nav ul ul a, #container aside nav ul ul ul a, #container aside nav ul ul ul ul a, #container aside nav ul ul ul ul ul a{background:url("../images/black_file.gif") no-repeat #FFFFFF;}
#container aside nav ul ul a{padding-left:40px; background-position:30px center;}
#container aside nav ul ul ul a{padding-left:50px; background-position:40px center;}
#container aside nav ul ul ul ul a{padding-left:60px; background-position:50px center;}
#container aside nav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}