/* line 5, ../../../sass/colors/orange/style.scss */
a {
  color: #333333;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
/* line 24, ../../../sass/mixins/_mixins.scss */
a:hover, a:focus {
  color: #e99b1f;
}
/* line 8, ../../../sass/colors/orange/style.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 14, ../../../sass/colors/orange/style.scss */
.btn:hover, .btn:focus {
  background-color: #e99b1f;
  border-color: #e99b1f;
}

/* line 20, ../../../sass/colors/orange/style.scss */
.btn-primary {
  background-color: #e99b1f;
  border-color: #e99b1f;
}
/* line 23, ../../../sass/colors/orange/style.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #333333;
  border-color: #333333;
}

/* line 29, ../../../sass/colors/orange/style.scss */
.post-image {
  background-color: #e99b1f;
}

/* line 34, ../../../sass/colors/orange/style.scss */
.post-meta a {
  color: #e99b1f;
}
/* line 36, ../../../sass/colors/orange/style.scss */
.post-meta a:hover, .post-meta a:focus {
  color: #333333;
}

/* line 42, ../../../sass/colors/orange/style.scss */
.price {
  color: #e99b1f;
}

/* line 48, ../../../sass/colors/orange/style.scss */
.product-thumb-info-content .item-cat a:hover, .product-thumb-info-content .item-cat a:focus {
  color: #e99b1f;
}

/* line 56, ../../../sass/colors/orange/style.scss */
.product-thumb-info-act a:hover, .product-thumb-info-act a:focus {
  background-color: #e99b1f;
  color: white;
}

/* menu-shop */
/* line 64, ../../../sass/colors/orange/style.scss */
.menu-shop {
  /* end dropdown-menu*/
}
/* line 67, ../../../sass/colors/orange/style.scss */
.menu-shop .dropdown-menu a:hover, .menu-shop .dropdown-menu a:focus {
  color: #e99b1f;
}
/* line 72, ../../../sass/colors/orange/style.scss */
.menu-shop .dropdown-menu .item-cat a:hover, .menu-shop .dropdown-menu .item-cat a:focus {
  color: #e99b1f;
}

/* My Account */
/* line 82, ../../../sass/colors/orange/style.scss */
.my-account .dropdown-menu > li > a:hover, .my-account .dropdown-menu > li > a:focus {
  color: #e99b1f;
}

/* line 89, ../../../sass/colors/orange/style.scss */
.navbar-main .navbar-nav > li > a {
  color: #333333;
}
/* line 24, ../../../sass/mixins/_mixins.scss */
.navbar-main .navbar-nav > li > a:hover, .navbar-main .navbar-nav > li > a:focus {
  color: #e99b1f;
}
/* line 100, ../../../sass/colors/orange/style.scss */
.navbar-main .navbar-nav > .active > a,
.navbar-main .navbar-nav > .active > a:hover,
.navbar-main .navbar-nav > .active > a:focus,
.navbar-main .navbar-nav > .open > a,
.navbar-main .navbar-nav > .open > a:hover,
.navbar-main .navbar-nav > .open > a:focus,
.navbar-main .navbar-nav .open .dropdown-menu > .active > a,
.navbar-main .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-main .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #e99b1f;
  background-color: transparent;
}
/* line 106, ../../../sass/colors/orange/style.scss */
.navbar-main .navbar-nav .dropdown-menu li a:hover, .navbar-main .navbar-nav .dropdown-menu li a:focus {
  color: #e99b1f;
}
/* line 112, ../../../sass/colors/orange/style.scss */
.navbar-main .navbar-nav .dropdown-menu > .active > a,
.navbar-main .navbar-nav .dropdown-menu > .active > a:hover,
.navbar-main .navbar-nav .dropdown-menu > .active > a:focus {
  background-color: transparent;
  color: #e99b1f;
}
/* line 117, ../../../sass/colors/orange/style.scss */
.navbar-main .navbar-nav .dropdown-menu .item-cat a:hover, .navbar-main .navbar-nav .dropdown-menu .item-cat a:focus {
  color: #e99b1f;
}

/* line 126, ../../../sass/colors/orange/style.scss */
.nav-white > .megamenu .dropdown-menu li a {
  color: #666666;
}
/* line 128, ../../../sass/colors/orange/style.scss */
.nav-white > .megamenu .dropdown-menu li a:hover, .nav-white > .megamenu .dropdown-menu li a:focus {
  color: #e99b1f;
}
/* line 134, ../../../sass/colors/orange/style.scss */
.nav-white > .megamenu .mega-menu-content .sub-menu > li > a {
  color: #666666;
}
/* line 136, ../../../sass/colors/orange/style.scss */
.nav-white > .megamenu .mega-menu-content .sub-menu > li > a:hover, .nav-white > .megamenu .mega-menu-content .sub-menu > li > a:focus {
  color: #e99b1f;
}

/* login */
/* line 145, ../../../sass/colors/orange/style.scss */
.login-wrapper a {
  color: white;
}
/* line 147, ../../../sass/colors/orange/style.scss */
.login-wrapper a:hover, .login-wrapper a:focus {
  color: #e99b1f;
}

/* line 155, ../../../sass/colors/orange/style.scss */
.owl-carousel .item .item-caption .item-cat a {
  color: white;
}
/* line 157, ../../../sass/colors/orange/style.scss */
.owl-carousel .item .item-caption .item-cat a:hover, .owl-carousel .item .item-caption .item-cat a:focus {
  color: #e99b1f;
}

/* line 166, ../../../sass/colors/orange/style.scss */
.owl-theme .owl-controls .owl-buttons .owl-prev:hover, .owl-theme .owl-controls .owl-buttons .owl-prev:focus,
.owl-theme .owl-controls .owl-buttons .owl-next:hover,
.owl-theme .owl-controls .owl-buttons .owl-next:focus {
  background-color: #e99b1f;
}

/* product slide */
/* line 174, ../../../sass/colors/orange/style.scss */
.product-slide .owl-controls .owl-buttons .owl-prev,
.product-slide .owl-controls .owl-buttons .owl-next {
  color: #333333;
}
/* line 24, ../../../sass/mixins/_mixins.scss */
.product-slide .owl-controls .owl-buttons .owl-prev:hover, .product-slide .owl-controls .owl-buttons .owl-prev:focus,
.product-slide .owl-controls .owl-buttons .owl-next:hover,
.product-slide .owl-controls .owl-buttons .owl-next:focus {
  color: #e99b1f;
}
/* line 176, ../../../sass/colors/orange/style.scss */
.product-slide .owl-controls .owl-buttons .owl-prev:hover, .product-slide .owl-controls .owl-buttons .owl-prev:focus,
.product-slide .owl-controls .owl-buttons .owl-next:hover,
.product-slide .owl-controls .owl-buttons .owl-next:focus {
  background-color: transparent;
  border-color: #e99b1f;
}

/* line 185, ../../../sass/colors/orange/style.scss */
.product-remove a:hover, .product-remove a:focus {
  color: #e99b1f;
}

/* line 191, ../../../sass/colors/orange/style.scss */
.shop_table td.product-subtotal {
  color: #e99b1f;
}

/* line 197, ../../../sass/colors/orange/style.scss */
.cart-totals .total .amount {
  color: #e99b1f;
}

/* line 202, ../../../sass/colors/orange/style.scss */
.shopping-bag {
  background-color: #e99b1f;
}

/* lookbook */
/* line 210, ../../../sass/colors/orange/style.scss */
.lookbook h2 a:hover, .lookbook h2 a:focus {
  color: #e99b1f;
}

/* line 219, ../../../sass/colors/orange/style.scss */
.upper-foot a:hover, .upper-foot a:focus {
  color: #e99b1f;
}

/* tags */
/* line 227, ../../../sass/colors/orange/style.scss */
.tagclouds a:hover, .tagclouds a:focus {
  color: #e99b1f;
  border-color: #e99b1f;
}

/* line 234, ../../../sass/colors/orange/style.scss */
.below-foot a {
  color: #e99b1f;
}
/* line 236, ../../../sass/colors/orange/style.scss */
.below-foot a:hover, .below-foot a:focus {
  color: #999999;
}

/* highlights */
/* line 244, ../../../sass/colors/orange/style.scss */
.wp-ads li {
  background-color: #e99b1f;
}
/* line 246, ../../../sass/colors/orange/style.scss */
.wp-ads li + li {
  background-color: rgba(233, 155, 31, 0.9);
}
/* line 248, ../../../sass/colors/orange/style.scss */
.wp-ads li + li + li {
  background-color: rgba(233, 155, 31, 0.8);
}
/* line 250, ../../../sass/colors/orange/style.scss */
.wp-ads li + li + li + li {
  background-color: rgba(233, 155, 31, 0.7);
}
/* line 252, ../../../sass/colors/orange/style.scss */
.wp-ads li + li + li + li + li {
  background-color: rgba(233, 155, 31, 0.6);
}

/* page-top */
/* line 262, ../../../sass/colors/orange/style.scss */
.page-top {
  background-color: #e99b1f;
}

/* line 266, ../../../sass/colors/orange/style.scss */
.second-tabs {
  /* end li */
}
/* line 269, ../../../sass/colors/orange/style.scss */
.second-tabs li.active:after {
  bottom: -5px;
  height: 0;
  border-top: 5px solid #e99b1f;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
/* line 272, ../../../sass/colors/orange/style.scss */
.second-tabs li.active a {
  background-color: #e99b1f;
}

/* drop caps */
/* line 280, ../../../sass/colors/orange/style.scss */
.drop-caps:first-letter {
  color: #e99b1f;
}

/* line 284, ../../../sass/colors/orange/style.scss */
.drop-caps.secondary:first-letter {
  background-color: #e99b1f;
}

/* Scroll to Top */
/* line 289, ../../../sass/colors/orange/style.scss */
.scroll-to-top {
  background-color: #e99b1f;
}
/* line 291, ../../../sass/colors/orange/style.scss */
.scroll-to-top:hover, .scroll-to-top:focus {
  background-color: #333333;
}

/* line 298, ../../../sass/colors/orange/style.scss */
.post .btn:hover, .post .btn:focus {
  background-color: #e99b1f;
  border-color: #e99b1f;
}
/* line 304, ../../../sass/colors/orange/style.scss */
.post blockquote p {
  background-color: #e99b1f;
}
/* line 308, ../../../sass/colors/orange/style.scss */
.post blockquote footer:after {
  bottom: -5px;
  height: 0;
  border-top: 5px solid #e99b1f;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  bottom: 35px;
}

/* single post */
/* line 319, ../../../sass/colors/orange/style.scss */
.blog-single-post blockquote p {
  background-color: transparent;
}

/* pagination */
/* line 336, ../../../sass/colors/orange/style.scss */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #e99b1f;
  border-color: #e99b1f;
}

/* line 342, ../../../sass/colors/orange/style.scss */
#price-range .ui-slider-horizontal .ui-slider-range {
  background-color: #e99b1f;
}
