<div id="step-3" class="tab-pane fade in active br-green" style="height: 400px">
    <h3>Where is your deal located</h3>

    <div class="form-group">
        <div class="col-sm-12">

            <label for="address" class="youaddress" data-icon="m">Location</label>
            <input id="address" name="address" class="col-md-6" %{--style="height: 40px;width: 400px;"--}%
                   required="required" type="text" placeholder="Enter Your Location"/>
        </div>
    </div>

    <div id="map_canvas" style="height:350px;width:100%;display:block"></div>
    <input type="hidden" name="lonid" id="lonid" value="0">
    <input type="hidden" name="latid" id="latid" value="0">
    style="height:350px;w
</div>